.navbar {
    background-color: #f8f9fa;
}

.navbar-nav .nav-item .dropdown-item:hover {
    background-color: #69b8ad;
    color: #fff;
}

.home {
    padding: 150px 20px;
    background-image: url('img/home-bg.jpg');
    background-size: cover;
    background-position: bottom;
    color: #fff;
    text-align: center;
}

.home h1 {
    font-weight: 700;
    font-size: 3rem;
}

.home p {
    font-size: 1.25rem;
}

.card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
    max-width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img {
    width: 100%;
    height: 200px;
}

.card-body {
    padding: 15px;
}

.card-body p {
    margin: 0 0 10px;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn {
    display: inline-block;
    padding: 8px 12px;
    background-color: #69b8ad;
    border-radius: 4px;
    color: #fff;
}

.btn:hover {
    background-color: #469288;
    color: #fff;
}

.modal-content {
    padding: 24px;
    position: relative;
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: justify;
}

.modal-header {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}

.btn-close {
    color: #aaa;
    font-size: 16px;
    cursor: pointer;
}

.btn-close:hover,
.btn-close:focus {
    color: #000;
}

footer {
    background-color: #6e9893;
    color: #fff;
}

footer .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
}

footer .text-center {
    margin-top: 20px;
    border-top: 1px solid #fff;
    padding-top: 10px;
}